.list {
    list-style-type: none;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
}

.items {
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    padding: 20px 0;
}

.top-link {
    display: flex;
    width: 33%;
    /* background-color: rgb(80, 5, 5); */
    justify-content: flex-end;
}

.topbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topbar .top{
    display: flex;
    justify-content: center;
}
    .topbar .top .menu{
        display: flex;
        width: 33%;
        /* background-color: antiquewhite; */
        justify-content: center;
        align-items: center;
    }
    .topbar .top .menu ul{
        list-style: none;
        display: flex;
        flex-direction: row;
    }
        .topbar .top .menu a{
            align-items: left;
            justify-content: flex-start;
            color: inherit;
            padding : 0.5em 1.5em ;
            margin:1em 0.3em;
        }
            .topbar .top .menu a:nth-child(1n){
                background-color:var(--primary, #3e6bd3);
                color:var(--secondary, #3e6bd3);
            }
                .topbar .top .menu a:nth-child(1n):hover{
                    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
                    color:var(--secondary, #3e6bd3);

                }
            .topbar .top .menu a:nth-child(2n){
                background-color:var(--secondary, #3e6bd3);
                color: var(--third, #3e6bd3);
            }
                .topbar .top .menu a:nth-child(2n):hover{
                    transition: background-color 3.3s;
                    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
                    color: var(--third, #3e6bd3);
                    
                }
    .topbar .top .logo{
        display:flex;
        justify-content: center;
        align-items: center;
        width: auto;
        min-width: 33%;
        /* background-color: rgb(215, 250, 227); */
    }
        .topbar .top .logo img{
           min-height: 50px ;
           max-height: 350px ;
        }

        .lerheu-logo{
            width:  150px;
            object-fit: contain;
            margin: 5px 5px;
            border-radius: 10px;
            cursor: pointer;
        }

    .topbar .top .labels{
        display : flex ;
        width: 33%;
        justify-content: flex-end;
    }
        .topbar .top .labels img{
            max-height: 50px ;
            max-width: auto ;
        }

.topbar .disciplines{
    display: flex ;
    justify-content: center;
    font-size: .875rem;
    text-transform: uppercase;
    padding: 10px 20px;
    background-image: linear-gradient(-20deg, var(--secondary) 10%, var(--secondary) 20%);
}
.topbar .discipline{
    display: flex ;
    justify-content: center;
    font-size: .875rem;
    font-weight:bold;
    text-transform: uppercase;
    padding: 10px 20px;
    color: var(--fourth);
}
.topbar .disciplines a:hover {
    color: var(--primary);
    transition: all 0.3s;

}

.topbar .nav-links{
    display: flex;
    /* background-color: var(--primary); */
    width: 33%;
    align-items: flex-end;
    justify-content: flex-end;
}
.topbar .nav-links li{
    list-style: none;
    padding : 0.5em 1.5em ;
    margin:1em 0.3em;
    border-radius:20px;
    background-color: var(--primary);
}

.topbar .nav-links li :last-child{
padding-right: 0;
margin-right: 0;
}


.topbar .nav-links li:hover{
background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
color:var(--secondary, #3e6bd3);
cursor: pointer;
}
@media only screen and (min-width: 1400px)  {
    .list {
        display: none;
    }

}

@media only screen and (max-width: 1400px) {

    .topbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .topbar .top{
        display: flex ;
        width: 100%;
        justify-content: center;
    }
    .topbar .top .logo{
        display : flex ;
        width: 100%;
        justify-content: center;
    }
    .topbar .top .burger{
        display: block;
        position: absolute;
        right:  30px;
        top:    60px;
        cursor: pointer;
    }
    .topbar .top .burger div{
        width: 25px;
        height: 0.3em;
        background-color:var(--secondary);
        margin: 3px;
        border-radius: 25%;
    }
    .topbar .top .menu{
    display: none;
    }
    .topbar .top .labels{
        display : none ;
    }
    .topbar .disciplines{
        display: none ;
    }
    .topbar .top .nav-links{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0px;
        top: 120px;
        height: 92vh;
        width: 100%;
        padding: 0;
        margin-top:0;
        color: var(--secondary);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .topbar .top .nav-links li{
        opacity: 0; 
    }

    .nav-active{
        transform: translateX(0%);
        transition:all 0.4s;

    }
    .top-link{
        display: none;
    }

}