
.score-bar{
    display: flex;
    height: 20vh;
    background-image: linear-gradient(70deg, var(--primary) 50%, var(--secondary) 50%);
}
.score-bar .classements{
    display: inline-block;
    width: 50%;
    padding: 0 1em;
    margin: 0 1em;
    justify-content: space-around;
    align-content:center;
}
.score-bar .classements img{
        opacity: 0.1;
        rotate: -10deg;
        position:absolute;
        object-fit:contain;
        background-repeat: no-repeat;
}

.score-bar .classements h2::after{
    content:'';
    display: block;
    border: solid 0.1em var(--secondary, #000);
    position: absolute;
    width: 2em;
    height: 2px;
}
.score-bar .resultats{
    width: 50%;
    padding: 0 1em;
    margin: 0 1em;
    justify-content: right;
    align-content:center;
}
.score-bar .resultats h2{
    color: var(--fourth) ;
}
.score-bar .resultats h2::after{
    content:'';
    display: block;
    border: solid 0.1em var(--fourth, #000);
    position: absolute;
    width: 2em;
    height: 2px;
}

.uniqueScore{
    flex-direction: row;
    height: auto;
    width: 100%;
}

.scrollMenu .uniqueScore {
    max-width: 100%;
    display: none;
  }

.uniqueScore.active {
display: block;
animation: fade 0.8s;
}

.cont-btn {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }
  .btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
  }
    @media only screen and (max-width: 960px) {
        .score-bar{
            display: block;
            height: auto;
            justify-content: left;
            background-image:none;
            padding: 0;
            margin:0;
        }

        .score-bar .classements{
            display: flex;
            width: 100%;
            background-color: var(--primary);
            padding: 0;
            margin:0;
        }

        .score-bar .resultats{
            display: flex;
            width: 100%;
            background-color: var(--secondary);
            padding: 0;
            margin:0;
            
        }
    }

