.disciplineSection{
    background-image: linear-gradient(2deg, var(--fifth) 90%, var(--fourth) 10%);
}
.disciplineSection .container{
    margin-bottom: 0;
    padding-top: 7em;
}
.container .disciplines{
    margin-bottom: 0;
}
.disciplinesBlock{
    display: grid;
    grid-auto-columns: 1fr; /* all the columns are equal */
    grid-auto-rows: 20em;
    grid-gap: 10px;
    min-height: 100%;
    min-width: auto;
}

.contHolder{
    position: relative;
}

.contHolder:nth-child(4n + 1) { grid-column: 1/span 2; }

.contHolder:nth-child(4n + 1)::before{
    position: absolute;
    content:'';
    height: 10em;
    width: 10em;
    background-color: #e8eef2;
    background-repeat: no-repeat;
    top:-20px;
    left:-20px;
    border-radius: 10px 0 0 0;
    z-index: -20;
}

.contHolder:nth-child(4n + 2) { grid-column-start: 3; }

.contHolder:nth-child(4n + 2)::before{
    position: absolute;
    content:'';
    height: 10em;
    width: 10em;
    background-color: #e8eef2;
    background-repeat: no-repeat;
    position: absolute;
    bottom:20px;
    right:20px;
    border-radius:  0 0 20px 0 ;
    z-index: -20;
}

.contHolder:nth-child(4n + 3) { grid-column-start: 1; }
.contHolder:nth-child(4n + 3)::before{
    position: absolute;
    content: url(../../assets/img/Polkadots.svg);
    height: 10em;
    width: 10em;
    /* background-color: #e8eef2; */
    background-repeat: no-repeat;
    top:-20px;
    left:-100px;
    transform:rotate(90deg);
    border-radius: 10px 0 0 0;
    z-index: -20;
}

.contHolder:nth-child(4n + 4) { grid-column: 2/span 2; }
.contHolder:nth-child(4n + 4)::before{
    position: absolute;
    content:'';
    height: 10em;
    width: 10em;
    background-color: #e8eef2;
    background-repeat: no-repeat;
    top:-20px;
    left:-20px;
    border-radius: 10px 0 0 0;
    z-index: -20;
}


.contHolder img {
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: cover;
    filter: grayscale(0.2);
    filter:hue-rotate(1);
    filter:saturate(1);
  }
.contHolder img:hover {
    filter:grayscale(0) ;
    filter:hue-rotate(2.2);
    filter: saturate(1.6);
    transition: 0.5s;
    /* box-shadow: 10px 5px 5px 10px #fee14022; */
  }


.disciplinesTag{
    position: relative;
    top:70%;
    left:5%;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    font-size:1.4em;
    transform:rotate(-2deg);
}

@media only screen and (max-width: 768px) {
    .contHolder:nth-child(4n + 1), 
    .contHolder:nth-child(4n + 2), 
    .contHolder:nth-child(4n + 3),
    .contHolder:nth-child(4n + 4){
      grid-column: 1;
    }
  }