.disciplines-block{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    max-width: 60%;
    max-height: 60%;
    margin: 20px auto;
}

.disciplines-block .img:first-child {
    grid-area: span 4 / span 3;
  }
.disciplines-block .img:nth-child(2) {
    grid-area: span 1 / span 2;
  }
.disciplines-block .img:nth-child(3) {
    grid-area: span 2 / span 1;
  }
.disciplines-block .img:nth-child(4) {
    grid-area: span 1 / span 2;
  }
.disciplines-block .img:nth-child(5) {
    grid-area: span 2 / span 2;
  }
.disciplines-block .img:last-child {
    grid-area: span 2 / span 1;
  }

.disciplines-card{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
    margin: 0.4em;
    border-radius: 20px;
    overflow: hidden;
}

.disciplines.card .img{
    contain: center cover;
    object-fit: cover; 


}

.disciplines.card.tag {
    display: block;
    margin: 1em 0 0 1em;
    padding: 0.3em 0.5em;
    border-radius: 1rem;
    background: var(--primary);
    font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

        
.disciplines img:hover{
    border: solid 1px white;
}

