.partnersSection{
    display: flex;
    background-color: var(--secondary);
    contain: content;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    /* flex: 1 0 auto; */
    overflow: hidden;
}

.sponsorBlock{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
}

.__blockContent{
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.partnerLogo{
    padding: 2em;
}

@media only screen and (max-width: 768px) {
    .sponsorBlock{
        display: inline-block;
    }
    .__blockContent{
        display: inline-block;
        justify-content: space-around;
        align-items: center;
    }
}