footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, var(--primary) 80%, var(--secondary) 1%);
}
.footer-column {
    padding: 10px;
}

footer li{
    width: 150px;
}

footer a{
    font-size:0.8em;
}
    footer .column-block{
        display: flex;
        justify-content: space-around;
    }
    footer .logo-div{
        display: flex;
        justify-content: center;
    }
    footer .logo{
        height: 10em;
        justify-content: center;
    }
    footer ul{
        padding-left: 0;
        list-style: none;
    }
    footer li::before{
        content: " ";
    }
    footer a:hover{
        color: var(--secondary);
        text-decoration: underline ;
    }
    @media only screen and (max-width: 700px) {

        footer .column-block{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .footer-column {
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 100px;
        }
        .logo-div{
            width: 850px;
        }
    }

    @media only screen and (max-width: 868px) {
        .column-block{
            flex-wrap: wrap;
        }
        footer{
            background-image: linear-gradient(180deg, var(--primary) 94%, var(--secondary) 1%);
        }
    }

    @media  (min-width:700px) and (max-width:868px){
        footer{
            background-image: linear-gradient(180deg, var(--primary) 90%, var(--secondary) 1%);
        }
    }

.logo-leRheu {
    width: 15%;
}
