.post{
    border-radius: 20px;
    width: 40%;
    gap: 10%;
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    margin-bottom: 150px;
    height: 500px;
}

.card:hover{
    display: flex;
    width: 20em;
    height: 500px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.slick-arrow, .slick-prev, .slick-next {
    /* background-color: #2678ae; */
    border-radius: 40px; 
    font-size: 30px;

}
.slick-prev::before, .slick-next::before {
    background-color: #242b2e;
    border-radius: 20px;
    font-size: 100px;
    right:0
}

.slick-arrow{
    font-size: 30px;
}


.illustration{
    min-height:200px;
    display: flex;
    margin: 1em 0 1em 0;
    border-radius: 20px;
    width: 20em;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top:2em;
    left: 2em;
    right: 2em;
    bottom: 5em;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    overflow: visible;
}

.patternTop{
    height: 10em;
    width: 10em;
    background-color: #e8eef2;
    position: absolute;
    border-radius: 20px 0 0 0;
}
.patternBottom{
    height: 100px;
    width: 100px;
    background-color: #e8eef2;
    position: absolute;
    border-radius: 20px;
    bottom:-100px;
    right:-20px;
    z-index: -1;
}


.content{
    align-items:center;
    justify-content:center;
    background-color: var(--primary);
    margin: 0 2em;
    font-weight: bold;
    height: 100px;
    width: 250px;
    align-items:center;
    justify-content:center;
    position: absolute;
    top: 95%;
    left:10%;
    overflow: visible;
    display: block;
    flex-wrap: wrap;
    padding: 2em;
    border-radius:  40px 0 20px 0;

}

.date{
    display: block;
    font-weight: lighter;
    flex-wrap: wrap;
    position: absolute;
    top: 0.5em;
    font-size: 0.8;
}
.title{
    display: inline-flex;
    font-weight: bold;
    flex-wrap: wrap;
    position: absolute;
    top: 1.5em;
}

.topics{
    margin: 1em;
    }

.topics #a{
    margin: 1em;
    }

.labels{
        margin: 1em;
        flex-wrap: wrap;
        background: 
            linear-gradient(to right, #fa709a 0%, #fee140 20%) no-repeat;
    }


@media only screen and (max-width: 960px) {
    .block{
        display: block;
    }
    .card{
        display: block;
    }
}