.post{
    border-radius: 20px;
    width: 80%;
    gap: 10%;
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    height: 500px;
}

.card:hover{
    display: flex;
    width: 20em;
    height: 500px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.slick-arrow, .slick-prev, .slick-next {
    border-radius: 40px; 
    font-size: 30px;

}

.slick-prev::before, .slick-next::before {
    background-color: #242b2e;
    border-radius: 20px;
    font-size: 100px;
    right:0;
    height: 400px;
}

.slick-arrow{
    font-size: 30px;
}


.illustration{
    min-height:200px;
    display: flex;
    margin: 1em 0 1em 0;
    border-radius: 20px;
    width: 20em;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    top:2em;
    left: 2em;
    right: 2em;
    bottom: 5em;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(0,0,0,0.5); */
    overflow: visible;
    background-size: 90%;
    /* height:500px; */
}



.illustration:hover{
    background-color:#fee140;
    transition: 0.5s ease-in-out;
    /* z-index: -2; */
}

.patternTop{
    height: 10em;
    width: 10em;
    background-color: #e8eef2;
    background-repeat: no-repeat;
    position: absolute;
    top:-20px;
    left:-20px;
    border-radius: 20px 0 0 0;
    z-index: -1;
}
.patternBottom{
    height: 100px;
    width: 100px;
    background-color: #e8eef2;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 20px;
    bottom:-100px;
    right:-15px;
    z-index: -1;
}

.patternCenter{
    position: absolute;
    top:-15px;
    height: 150px;
    width: 150px;
    z-index: -1;
    transform: rotate(90deg);
}


.content{
    align-items:center;
    justify-content:center;
    background-color: var(--primary);
    margin: 0 2em;
    font-weight: bold;
    height: 100px;
    width: 250px;
    align-items:center;
    justify-content:center;
    position: absolute;
    top: 90%;
    left:10%;
    overflow: visible;
    display: block;
    flex-wrap: wrap;
    padding: 2em;
    border-radius:  40px 0 20px 0;

}

.date{
    display: block;
    font-weight: lighter;
    flex-wrap: wrap;
    position: absolute;
    top: 0.5em;
    font-size: 0.8;
}
.title{
    display: inline-flex;
    font-weight: bold;
    flex-wrap: wrap;
    position: absolute;
    top: 1.5em;
}

.topics{
    margin: 1em;
    }

.topics #a{
    margin: 1em;
    }

.labels{
        margin: 1em;
        flex-wrap: wrap;
        background: 
            linear-gradient(to right, #fa709a 0%, #fee140 20%) no-repeat;
    }


@media only screen and (max-width: 960px) {
    .block{
        display: block;
    }
    .card{
        display: block;
    }
}