nav {
    display: flex;
    background-color:aqua
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 20px;
}

@media only screen and (max-width: 960px) {
    .nav-links{
        position: absolute;
    }
}